@{
    ViewData["Title"] = "Admin Options";
}

<div>
    <h1 class="display-4">Admin Actions:</h1>
    <br/>
    <a href="@Url.Action("AllUsers", "Admin")">View All Users</a>
    <a href="@Url.Action("Create", "Admin")">Create Role</a><br/>    
    
</div>
