@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Adventure Project</h1>
    <p>This is a simple RPG game that can be added onto by admins with out needing to.</p> 
    <br />
    <br />
    <p>First you will need to start by creating a character(currently just a name), then you will be able to play the game.</p><br/>
    
</div>
